﻿@charset "utf-8"

div#datatypes 
{
	column-width: 200px;

}

div#datatypes ul
{
	width:  100%;
	list-style-type: none;
}

a.object_link {
	text-decoration:	none;
	color:				#004000;
}

a.object_link:hover {
	text-decoration:	underline;
	color:				#f00;
}

/*
#functions_filter {
	font-weight:	bold;
	font-size:		larger;
	display:		inline-block;
	border:			1px solid black;
	margin:			0.5em;
	padding:		0.5em 1em;
	border-radius:	0.5em;
	float:			left;

	background-color:	#7E1818;
	color:				#FFA34F;
}

#functions_info {
	font-style:		italic;
	font-size:		smaller;
	margin:		1em 0.5em;
}



table {
	border:			2px solid #800000;

}

table td {
	border-bottom: 	1px solid #000;
	padding: 		3px 10px;
}

tr.odd td {
	background-color:	#efefef;
}

tr.even td {
	background-color:	#dee3e7;
}

tbody tr:hover td {
	background-color:	#9CF;
}

thead {
	font-weight:	bold;
}

thead tr td {
	background-color:	#7E1818;
	color:				#FFA34F;
}

#timestamp {
	font-style:		italic;
	font-size:		smaller;
}
*/


body {
	font-family:	Verdana, Arial, Helvetica, sans-serif;
	font-size:		0.8em;
}
h1, h2, h3 {
	font-family:	sans-serif;
}

#functions_processing, .spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px; /* half width of the spinner gif */
	margin-top: -50px; /* half height of the spinner gif */
	text-align:center;
	z-index:1234;
	overflow: auto;
	width: 100px; /* width of the spinner gif */
	height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc:before {
		content:	"\25B2 ";
}

.sorting_desc:before {
		content:	"\25BC ";
}

.sorting_asc_disabled {
		content:	"\25B3 ";
}

.sorting_desc_disabled {
		content:	"\25BD ";
}
